.masthead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: rgba(255, 255, 255, 0.4);
}

.masthead .logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: sub;
}

.masthead h3 {
    display: inline-block;
}