@import "config";

.post-detail {
  .post {
    &-header{
      width: 100%;
      height: 800px;
      position: relative;
      background: linear-gradient(135deg, rgba(34, 139, 87, .4), rgba(139, 34, 139, .4)), url("./../../assets/cover.jpg") no-repeat 0 0 {
        size: cover;
      };
      text-align: center;
    }
    &-title{
      position: relative;
      text-align: center;
      color: transparent;
      font-size: 68px;
      -webkit-text-stroke: 2px #fff;
      font-family: 'Monaco', courier, monospace,"微软雅黑","Microsoft YaHei",Consolas,Monaco,Andale Mono,Ubuntu Mono!important;
      z-index: 1;
      display: inline-block;
      margin: 0 auto;
      &__underscore {
        width: inherit;
        height: .5em;
        background: #eed14e;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
    &-info{
      position: absolute;
      bottom: 50px;
      right: 50px;
      color: #fff;
    }
    &-date{
      color: #fff;
    }
    .post-container-wrapper {
      position: relative;
      background: #fff;
    }
  }
}

@media (max-width: 1400px) {
  #toc {
    display: none!important;
  }
}

#toc{
  position: absolute;
  right: 5px;
  top: -10000px;
  z-index: 1024;
  font-size: 14px;
  margin-top: 1px;
  background: $gary;
  color: #fff;
  box-shadow: 1px 1px 5px $gary;
  ul{
    padding-left: 20px;
    width: 200px;
    margin-bottom: 0;
    li{
      margin-bottom: 5px;
      list-style-type: none;
      a{
        display: inherit;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
}