<!DOCTYPE html>
<html lang="zh">
{% include head.html %}
<body class="theme-base-08 layout-reverse">
<div class="filter-wrapper"></div>
{% include sidebar.html %}
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<style type="text/css">
    #particleground {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }
</style>
<div class="wrap">
    <div class="masthead">
        <div class="container">
            <h3 class="masthead-title">
                <a href="https://github.com/lijiahao8898" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </div>
    </div>
</div>
<div id="particleground"></div>
<div class="content post-detail">
    {{ content }}
</div>
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script src="{{ site.baseurl }}/plugin/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/plugin/jquery.particleground.min.js"></script>
<script src="{{ site.baseurl }}/plugin/shine/shine.min.js"></script>
<script src="{{ site.baseurl }}/src/common/common.js"></script>
<script type="text/javascript">
    (function ($) {
        var main = {
            init: function () {
                var color = 'rgb' + '(' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ')';
                $('#particleground').particleground({
                    dotColor: color,
                    lineColor: color,
                    lineWidth: 0.1,
                    particleRadius: 6
                });
            }
        };
        $(function () {
            main.init();
        })
    })(jQuery)
</script>
</body>
</html>
