<!DOCTYPE html>
<html lang="zh">
{% include head.html %}
<body class="theme-base-08 layout-reverse">
<div class="filter-wrapper"></div>
{% include sidebar.html %}
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<style type="text/css">
    .particleground {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
    }
    .clickable-header {
        cursor:pointer;
    }
    .clickable-header:hover {
        text-decoration:underline;
    }
    .top-level-header {
        display:inline;
    }
    .back-to-top {
        margin-left:5px;
        cursor:pointer;
    }
</style>
<div class="wrap">
    <div class="masthead">
        <div class="container">
            <h3 class="masthead-title">
                <a href="https://github.com/lijiahao8898" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </div>
    </div>
</div>
<div id="particles-js" class="particleground"></div>
<div class="content post-detail">
    {{ content }}
</div>
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script src="{{ site.baseurl }}/plugin/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/plugin/particles.min.js"></script>
<script src="{{ site.baseurl }}/src/common/common.js"></script>
<script src="{{ site.baseurl }}/plugin/toc.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#toc').toc({
            title: document.title,
            listType: 'ul',
            noBackToTopLinks: true,
            minimumHeaders: 3,
            headers: 'h2, h3, h4',
            showEffect: 'slideDown'
        });

        $(window).scroll(function() {
            if($(window).scrollTop() > window.innerHeight - 57) {
                $('#toc').css({
                    position: 'fixed',
                    top: 57 + 'px'
                })
            } else {
                $('#toc').css({
                    position: 'absolute',
                    top: window.innerHeight + 'px'
            })
            }
        });
    });
</script>
<script type="text/javascript">
    (function ($) {
        var main = {
            init: function () {
                var color = 'rgb' + '(' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ')';
//                particlesJS("particles-js", {
//                    "particles": {
//                        "number": {
//                            "value": 400,
//                            "density": {
//                                "enable": true,
//                                "value_area": 800
//                            }
//                        },
//                        "color": {
//                            "value": "#fff"
//                        },
//                        "shape": {
//                            "type": "circle",
//                            "stroke": {
//                                "width": 0,
//                                "color": "#000000"
//                            },
//                            "polygon": {
//                                "nb_sides": 5
//                            },
//                            "image": {
//                                "src": "img/github.svg",
//                                "width": 100,
//                                "height": 100
//                            }
//                        },
//                        "opacity": {
//                            "value": 0.5,
//                            "random": true,
//                            "anim": {
//                                "enable": false,
//                                "speed": 1,
//                                "opacity_min": 0.1,
//                                "sync": false
//                            }
//                        },
//                        "size": {
//                            "value": 10,
//                            "random": true,
//                            "anim": {
//                                "enable": false,
//                                "speed": 40,
//                                "size_min": 0.1,
//                                "sync": false
//                            }
//                        },
//                        "line_linked": {
//                            "enable": false,
//                            "distance": 500,
//                            "color": "#ffffff",
//                            "opacity": 0.4,
//                            "width": 2
//                        },
//                        "move": {
//                            "enable": true,
//                            "speed": 6,
//                            "direction": "bottom",
//                            "random": false,
//                            "straight": false,
//                            "out_mode": "out",
//                            "bounce": false,
//                            "attract": {
//                                "enable": false,
//                                "rotateX": 600,
//                                "rotateY": 1200
//                            }
//                        }
//                    },
//                    "interactivity": {
//                        "detect_on": "canvas",
//                        "events": {
//                            "onhover": {
//                                "enable": true,
//                                "mode": "bubble"
//                            },
//                            "onclick": {
//                                "enable": true,
//                                "mode": "repulse"
//                            },
//                            "resize": true
//                        },
//                        "modes": {
//                            "grab": {
//                                "distance": 400,
//                                "line_linked": {
//                                    "opacity": 0.5
//                                }
//                            },
//                            "bubble": {
//                                "distance": 400,
//                                "size": 4,
//                                "duration": 0.3,
//                                "opacity": 1,
//                                "speed": 3
//                            },
//                            "repulse": {
//                                "distance": 200,
//                                "duration": 0.4
//                            },
//                            "push": {
//                                "particles_nb": 4
//                            },
//                            "remove": {
//                                "particles_nb": 2
//                            }
//                        }
//                    },
//                    "retina_detect": true
//
//                });
            }
        };
        $(function () {
            main.init();
        })
    })(jQuery)
</script>
</body>
</html>
