<!DOCTYPE html>
<html lang="zh">
{% include head.html %}
<body class="theme-base-08 layout-reverse">
{% include sidebar.html %}
<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<div class="wrap">
    <div class="masthead">
        <div class="container">
            <h3 class="masthead-title">
                <a href="https://github.com/lijiahao8898" title="Home">{{ site.title }}</a>
                <small>{{ site.tagline }}</small>
            </h3>
        </div>
    </div>
    <div class="middle">
        <p class="incentive">
            You cannot improve your past, but you can improve your future.
            <br/>
            once time is wasted, life is wasted.
        </p>
        <div class="me">
            <div class="wrapper">
                <div class="me-portrait">
                    <img src="../../../assets/50B88A04402CE7B0475487B65E6EE5C9.jpg">
                </div>
                <div class="me-name">
                    Li&nbsp;Jiahao
                </div>
                <div class="me-professional">
                    <p>F2E</p>
                </div>
                <div class="me-hobby">
                    <p>a hunter & programmer</p>
                    <p>
                        Passionate about life.
                        <br/>
                        enjoy DOTA & PS4.
                    </p>
                </div>
                <div class="me-footer" title="github">
                    <ul>
                        <li>
                            <a href="https://github.com/lijiahao8898">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-github">
                                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mask"></div>
        <div class="arrow">
            <span></span>
        </div>
    </div>
    <div class="knowledge-wrapper">
        <div class="knowledge">
            <div class="knowledge-list">
                <div class="knowledge-title">Javascript</div>
                <ul>
                    <li>ECMAScript、文档对象模型（DOM）、游览器对象模型（BOM）</li>
                    <li>bind、call、apply</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container content" id="content">
            <div class="line"></div>
            {{ content }}
        </div>
    </div>
</div>
<label for="sidebar-checkbox" class="sidebar-toggle"></label>
<script src="{{ site.baseurl }}/plugin/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/src/common/common.js"></script>
</body>
</html>
