---
layout: default
---

<!-- 书签 start -->
<div id="toc"></div>
<!-- 书签 end -->
<div class="post-wrapper">
    <div class="post">
        <div class="post-header" id="postHeader">
            <div class="post-title" id="postTitle">
                {{ page.title }}
                <div class="post-title__underscore"></div>
            </div>
            <div class="post-info">
                <span class="post-date">{{ page.subhead }}</span>
                <span class="post-date">
                    {% for category in page.categories %}
                      {{ category }}、
                    {% endfor %}
                </span>
                <span class="post-date">{{ page.date |  date: "%Y-%m-%d" }}</span>
                <span class="post-date">资料整理</span>
            </div>
        </div>
        <div class="post-container-wrapper">
            <div class="post-container container">
                {{ content }}
            </div>
        </div>
    </div>

    <div class="related">
        <h2>最新</h2>
        <ul class="related-posts">
            {% for post in site.related_posts limit:6 %}
            <li>
                <h3>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                        <small>{{ post.date | date_to_string }}</small>
                    </a>
                </h3>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    ;(function () {
        var height = window.innerHeight;
        var header = document.getElementById('postHeader');
        var title = document.getElementById('postTitle');
        header.style.height = height < 500 ? 500 + 'px' : height + 'px';
        title.style.top = height < 500 ? 225 + 'px' : (height - 50)/2 + 'px';
    })()
</script>
